<style>
    @media screen and (min-width: 40rem) {
        body .banner-wrapper {
            width: 40rem !important;
            height: 30rem !important;
        }

        #tpc001a-banner {
            height: 32rem !important;
        }

        #tpc001a-banner #tpc001a-copy-container #tpc001a-copy {
            top: 1rem !important;
            padding: 1rem 1.25rem !important;
        }

        #tpc001a-banner #tpc001a-copy-container #tpc001a-copy #tpc001a-copy-optional {
            font-size: 3rem !important;
            text-align: center !important;
        }

        #tpc001a-banner #tpc001a-copy-container #tpc001a-copy #tpc001a-copy-title {
            font-size: 3rem !important;
            line-height: 2rem !important;
            text-align: center !important;
        }

        #tpc001a-banner #tpc001a-copy-container #tpc001a-copy #tpc001a-copy-tncs {
            font-size: 0.75rem !important;
            text-align: right !important;
        }

        #tpc001a-banner #tpc001a-product-container #tpc001a-product-image-container {
            margin-top: 2rem !important;
            max-width: 20.1875rem !important
        }

        #tpc001a-banner #tpc001a-product-container #tpc001a-product-image-container #tpc001a-product-badge-container {
            top: 1rem !important;
            left: auto !important;
            right: -4rem !important;
            width: 8rem !important;
            height: 8rem !important;
        }

        #tpc001a-banner #tpc001a-product-container #tpc001a-product-image-container #tpc001a-product-badge-container #tpc001a-product-badge-copy #tpc001a-product-badge-copy-large {
            font-size: 1.8125rem !important;
        }

        #tpc001a-banner #tpc001a-product-container #tpc001a-product-image-container #tpc001a-product-badge-container #tpc001a-product-badge-copy #tpc001a-product-badge-copy-small {
            font-size: 1.25rem !important;
        }

        #tpc001a-banner #tpc001a-promo-container {
            height: auto !important;
            padding: 1rem 1.25rem !important;
        }

        #tpc001a-banner #tpc001a-promo-container #tpc001a-promo-list {
            width: auto !important;
        }

        #tpc001a-banner #tpc001a-promo-container #tpc001a-promo-list .tpc001a-promo-item {
            margin: 0 .625rem 0 0 !important;
            max-width: 100% !important;
            width: 5rem !important;
        }

        #tpc001a-banner #tpc001a-promo-container #tpc001a-btn {
            min-width: 10.375rem !important;
            height: 3.75rem !important;
            font-size: 1.25rem !important;
        }
    }

    @media screen and (min-width: 70rem) {
        body .banner-wrapper {
            width: 70rem !important;
            height: 21.875rem !important;
        }

        #tpc001a-banner {
            -webkit-box-orient: horizontal !important;
            -webkit-box-direction: normal !important;
            -ms-flex-direction: row !important;
            flex-direction: row !important;
            height: 21.875rem !important;
            background: #fff !important;
        }

        #tpc001a-banner .tpc001a-svg-shape {
            display: block !important;
        }

        #tpc001a-banner #tpc001a-copy-container {
            width: 100% !important;
            height: 100% !important;
        }

        #tpc001a-banner #tpc001a-copy-container #tpc001a-copy {
            -webkit-box-pack: center !important;
            -ms-flex-pack: center !important;
            justify-content: center !important;
            padding: 2.5rem 3rem !important
        }

        #tpc001a-banner #tpc001a-copy-container #tpc001a-copy #tpc001a-copy-optional {
            font-size: 3rem !important;
            text-align: left !important;
        }

        #tpc001a-banner #tpc001a-copy-container #tpc001a-copy #tpc001a-copy-title {
            margin-bottom: 1rem !important;
            font-size: 3rem !important;
            line-height: 2rem !important;
            text-align: left !important;
        }

        #tpc001a-banner #tpc001a-copy-container #tpc001a-copy #tpc001a-copy-tncs {
            margin-top: 1rem !important;
            font-size: 0.75rem !important;
            text-align: left !important;
        }

        #tpc001a-banner #tpc001a-product-container {
            -webkit-box-orient: horizontal !important;
            -webkit-box-direction: normal !important;
            -ms-flex-direction: row !important;
            flex-direction: row !important;
        }

        #tpc001a-banner #tpc001a-product-container #tpc001a-product-image-container {
            margin: 5rem 0 0 -9rem !important;
            max-width: 20.1875rem !important;
        }

        #tpc001a-banner #tpc001a-product-container #tpc001a-product-image-container #tpc001a-product-badge-container {
            top: -3rem !important;
            left: auto !important;
            right: -3rem !important;
            width: 8rem !important;
            height: 8rem !important;
        }

        #tpc001a-banner #tpc001a-product-container #tpc001a-product-image-container #tpc001a-product-badge-container #tpc001a-product-badge-copy #tpc001a-product-badge-copy-large {
            font-size: 1.8125rem !important;
        }

        #tpc001a-banner #tpc001a-product-container #tpc001a-product-image-container #tpc001a-product-badge-container #tpc001a-product-badge-copy #tpc001a-product-badge-copy-small {
            font-size: 1.25rem !important
        }

        #tpc001a-banner #tpc001a-promo-container {
            position: relative !important;
            width: 15.75rem !important;
            height: 100% !important;
            background: none !important;
        }

        #tpc001a-banner #tpc001a-promo-container #tpc001a-promo-list {
            position: absolute !important;
            -webkit-box-orient: vertical !important;
            -webkit-box-direction: normal !important;
            -ms-flex-direction: column !important;
            flex-direction: column !important;
            -webkit-box-pack: start !important;
            -ms-flex-pack: start !important;
            justify-content: flex-start !important;
            -webkit-box-align: center !important;
            -ms-flex-align: center !important;
            align-items: center !important;
            top: 2.5rem !important;
            right: 3rem !important;
            width: 100% !important;
            height: 100% !important;
        }

        #tpc001a-banner #tpc001a-promo-container #tpc001a-promo-list .tpc001a-promo-item {
            margin: 0 0 .625rem 0 !important;
            width: 5rem !important
        }

        #tpc001a-banner #tpc001a-promo-container #tpc001a-btn {
            position: absolute !important;
            bottom: 2.5rem !important;
            right: 3rem !important;
            min-width: 10.375rem !important;
            height: 3.75rem !important;
            font-size: 1.25rem !important
        }

        #tpc001a-banner.tpc001a-banner--rtl {
            -webkit-box-orient: horizontal !important;
            -webkit-box-direction: reverse !important;
            -ms-flex-direction: row-reverse !important;
            flex-direction: row-reverse !important
        }

        #tpc001a-banner.tpc001a-banner--rtl #tpc001a-copy-container #tpc001a-copy {
            padding: 2.5rem 3rem 2.5rem 7.5rem !important;
        }

        #tpc001a-banner.tpc001a-banner--rtl #tpc001a-copy-container .tpc001a-svg-shape {
            -webkit-transform: scaleX(-1) !important;
            transform: scaleX(-1) !important;
        }

        #tpc001a-banner.tpc001a-banner--rtl #tpc001a-product-container {
            -webkit-box-align: center !important;
            -ms-flex-align: center !important;
            align-items: center !important;
        }

        #tpc001a-banner.tpc001a-banner--rtl #tpc001a-product-container #tpc001a-product-image-container {
            margin: 0 0 0 7.5rem !important
        }

        #tpc001a-banner.tpc001a-banner--rtl #tpc001a-product-container #tpc001a-product-image-container #tpc001a-product-badge-container {
            left: -3rem !important;
            right: auto !important
        }

        #tpc001a-banner.tpc001a-banner--rtl #tpc001a-promo-container #tpc001a-promo-list {
            left: 3rem !important;
            right: auto !important;
        }

        #tpc001a-banner.tpc001a-banner--rtl #tpc001a-promo-container #tpc001a-btn {
            left: 3rem !important;
            right: auto !important;
        }

        #tpc001a-banner.tpc001a-banner--rtl #tpc001a-promo-container .tpc001a-svg-shape {
            left: 0 !important;
            right: auto !important;
            -webkit-transform: scaleX(-1) !important;
            transform: scaleX(-1) !important;
        }
    }

    @media screen and (max-width: 18.6875rem) {
        #tpc001a-banner {
            display: none !important;
        }
    }

    @-webkit-keyframes tpc001a-rotation {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg)
        }

        100% {
            -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg)
        }
    }

    @keyframes tpc001a-rotation {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg)
        }

        100% {
            -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg)
        }
    }

    @-webkit-keyframes tpc001a-fade {
        0% {
            opacity: 0
        }

        100% {
            opacity: 1
        }
    }

    @keyframes tpc001a-fade {
        0% {
            opacity: 0
        }

        100% {
            opacity: 1
        }
    }
</style>
<div id="tpc001a-banner" style="-ms-flex-direction: column; -ms-flex-pack: justify; -webkit-box-direction: normal; -webkit-box-orient: vertical; -webkit-box-pack: justify; -webkit-box-sizing: border-box; background: linear-gradient(to bottom, #ffe0e0 0%, #fff 40%); box-sizing: border-box; display: flex; flex-direction: column; font-family: 'Helvetica', arial, sans-serif; font-size: 16px; height: 16.625rem; justify-content: space-between; margin: 0; padding: 0; position: relative; width: 100%;">
    <div id="tpc001a-copy-container" style="-webkit-box-sizing: border-box; box-sizing: border-box; height: 100%; margin: 0; padding: 0; position: relative; width: 100%;">
        <div id="tpc001a-copy" style="-ms-flex-direction: column; -ms-flex-pack: justify; -webkit-animation: tpc001a-fade 1s ease-in-out; -webkit-animation-fill-mode: forwards; -webkit-box-direction: normal; -webkit-box-orient: vertical; -webkit-box-pack: justify; -webkit-box-sizing: border-box; animation: tpc001a-fade 1s ease-in-out; animation-fill-mode: forwards; box-sizing: border-box; display: flex; flex-direction: column; font-family: 'Helvetica', arial, sans-serif; font-size: 16px; height: 100%; justify-content: space-between; left: 0; margin: 0; padding: .5rem .75rem; position: absolute; top: 0; width: 100%; z-index: 10;">
            <h3 id="tpc001a-copy-optional" style="-webkit-box-sizing: border-box; box-sizing: border-box; color: #ed1c24; font-family: 'Nothing You Could Do',cursive; font-size: 1.5rem; font-weight: 300; margin: 0; padding: 0; text-align: center;">{{ sub_title }}</h3>
            <h2 id="tpc001a-copy-title" style="-webkit-box-sizing: border-box; box-sizing: border-box; color: #ed1c24; font-family: 'Montserrat',sans-serif; font-size: 2rem; line-height: 1rem; margin: 0; padding: 0; text-align: center;">{{ title }}</h2>
            <p id="tpc001a-copy-tncs" style="-webkit-box-sizing: border-box; box-sizing: border-box; color: #424242; font-size: 0.5625rem; margin: 0; margin-top: 0.5rem; padding: 0; text-align: right;">{{ small_text }}</p>
        </div>
        <img class="tpc001a-svg-shape" src="{{ s3_bucket_path }}/angled-rectangle-large.svg" alt="angled rectangle" style="-webkit-box-sizing: border-box; box-sizing: border-box; display: none; margin: 0; padding: 0;">
    </div>
    <div id="tpc001a-product-container" style="-ms-flex-direction: row; -ms-flex-pack: center; -webkit-box-direction: normal; -webkit-box-orient: horizontal; -webkit-box-pack: center; -webkit-box-sizing: border-box; box-sizing: border-box; display: flex; flex-direction: row; height: 100%; justify-content: center; margin: 0; padding: 0; width: 100%;">
        <div id="tpc001a-product-image-container" style="-webkit-box-sizing: border-box; box-sizing: border-box; margin: 0; margin-top: 1rem; max-width: 10rem; padding: 0; position: relative;">
            <div id="tpc001a-product-badge-container" style="-webkit-animation: tpc001a-rotation 0.7s ease-in-out; -webkit-animation-fill-mode: forwards; -webkit-box-sizing: border-box; animation: tpc001a-rotation 0.7s ease-in-out; animation-fill-mode: forwards; box-sizing: border-box; height: 5rem; left: -3rem; margin: 0; padding: 0; position: absolute; right: auto; top: 0; width: 5rem; z-index: 100;">
                <div id="tpc001a-product-badge-image" style="-webkit-box-sizing: border-box; box-sizing: border-box; height: 100%; margin: 0; padding: 0; position: relative; width: 100%;">
                    <img src="{{ s3_bucket_path }}/star.svg" alt="badge" style="-webkit-box-sizing: border-box; box-sizing: border-box; margin: 0; max-width: 100%; padding: 0;">
                </div>

                {% if discount_amount != "" %}
                <div id="tpc001a-product-badge-copy" style="-ms-flex-direction: column; -ms-flex-pack: center; -webkit-box-direction: normal; -webkit-box-orient: vertical; -webkit-box-pack: center; -webkit-box-sizing: border-box; box-sizing: border-box; display: flex; flex-direction: column; height: 100%; justify-content: center; left: 0; margin: 0; padding: 0; position: absolute; top: 0; width: 100%;">
                    <p id="tpc001a-product-badge-copy-large" style="-webkit-box-sizing: border-box; box-sizing: border-box; font-family: 'Montserrat',sans-serif; font-size: 1.25rem; margin: 0; padding: 0; text-align: center;">{{ discount_amount }}</p>
                    <p id="tpc001a-product-badge-copy-small" style="-webkit-box-sizing: border-box; box-sizing: border-box; font-family: 'Montserrat',sans-serif; font-size: 0.75rem; margin: 0; padding: 0; text-align: center;">Off</p>
                </div>
                {% endif %}
            </div>
            <img id="tpc001a-product-image" src="{{ product_image }}" alt="{{ title }}" style="-webkit-box-sizing: border-box; box-sizing: border-box; margin: 0; max-width: 100%; padding: 0;">
        </div>
    </div>
    <div id="tpc001a-promo-container" style="-ms-flex-align: end; -ms-flex-direction: row; -ms-flex-pack: justify; -webkit-animation: tpc001a-fade 1s ease-in-out; -webkit-animation-fill-mode: forwards; -webkit-box-align: end; -webkit-box-direction: normal; -webkit-box-orient: horizontal; -webkit-box-pack: justify; -webkit-box-sizing: border-box; align-items: flex-end; animation: tpc001a-fade 1s ease-in-out; animation-fill-mode: forwards; background: linear-gradient(to top, #fff9c3 0%, #fff 40%); box-sizing: border-box; display: flex; flex-direction: row; height: 100%; justify-content: space-between; margin: 0; padding: 0 .75rem .5rem .75rem; position: relative; width: 100%;">
        <img class="tpc001a-svg-shape" src="{{ s3_bucket_path }}/angled-rectangle-small.svg" alt="angled rectangle" style="-webkit-box-sizing: border-box; box-sizing: border-box; display: none; margin: 0; padding: 0; position: absolute; right: 0; top: 0;">
        <div id="tpc001a-promo-list" style="-ms-flex-align: end; -ms-flex-direction: row; -ms-flex-pack: start; -webkit-box-align: end; -webkit-box-direction: normal; -webkit-box-orient: horizontal; -webkit-box-pack: start; -webkit-box-sizing: border-box; align-items: flex-end; box-sizing: border-box; display: flex; flex-direction: row; height: 100%; justify-content: flex-start; margin: 0; padding: 0; position: relative; width: 50%;">
            {% if interest_months != "" %}
            <svg class="tpc001a-promo-item" style="-webkit-box-sizing: border-box; box-sizing: border-box; margin: 0 .625rem 0 0; max-width: 100%; padding: 0; width: 3rem;" width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="0.5" y="0.5" width="79" height="79" rx="9.5" fill="white" stroke="#67308F" />
                <path d="M0 10C0 4.47715 4.47715 0 10 0H70C75.5228 0 80 4.47715 80 10V61H0V10Z" fill="#67308F" />
                <text fill="white" xml:space="preserve" style="white-space: pre" font-family="Stag Sans" font-size="42" font-weight="bold" letter-spacing="0em">
                    <tspan x="12.2246" y="40.1">{{ interest_months }}</tspan>
                </text>
                <text fill="white" xml:space="preserve" style="white-space: pre" font-family="Stag Sans" font-size="16" font-weight="bold" letter-spacing="0em">
                    <tspan x="5.21875" y="57.3">MONTHS</tspan>
                </text>
                <text fill="#67308F" xml:space="preserve" style="white-space: pre" font-family="Stag Sans" font-size="9" font-weight="bold" letter-spacing="0em">
                    <tspan x="6.5" y="73.2">INTEREST FREE</tspan>
                </text>
            </svg>
            {% endif %}
            {% if hot_price == "show" %}
            <img class="tpc001a-promo-item" src="{{ s3_bucket_path }}/hot-price.svg" alt="Hot Price" style="-webkit-box-sizing: border-box; box-sizing: border-box; margin: 0 .625rem 0 0; max-width: 100%; padding: 0; width: 3rem;">
            {% endif %}
        </div>
        <a id="tpc001a-btn" style="-webkit-box-sizing: border-box; -webkit-transition: background-color 0.2s ease-in-out; background-color: #ffdd03; border: none; border-radius: 2.5rem; box-sizing: border-box; font-family: 'Montserrat',sans-serif; font-size: 1rem; height: 3rem; margin: 0; min-width: 9rem; padding: 0; transition: background-color 0.2s ease-in-out; z-index: 100;" href="{{ cta_url }}">{{ cta_label }}</a>
    </div>
</div>